:root {
    --background-color: #181818;
    --font-color: #FFF;
}

:root {
    --background-color: #F3F3F3;
    --header-color: #0B64FE;
    --font-color: #181818;
    --button-font-color: #000;
    --button-color: #A6FFFF;
}


body {
    background-color: var(--background-color);
}

.container {
margin: 30px;
}