.container-voice {
    min-width: $vp-320;
    padding: 0 15px;
  
    @media (min-width: $vp-800) {
      padding: 0 50px;
    }
  
    @media (min-width: $vp-1920) {
      margin: 0 auto;
      padding: 0 100px;
      max-width: $vp-1920;
    }
  }