.container {
    min-width: $vp-320;
    padding: 0 12px;

    @media (min-width: $vp-800) {
        padding: 0 100px;
    }

    @media (min-width: $vp-1920) {
        margin: 0 auto;
        padding: 0 345.3px 0 62.6px;
        max-width: $vp-1920;
    }
}