.container {
    min-width: $vp-min-width;
    padding: 0 12px;

    @media (min-width: $vp-second-point) {
        padding: 0 100px;
    }

    @media (min-width: $vp-max-width) {
        margin: 0 auto;
        padding: 0 345.3px 0 62.6px;
        max-width: $vp-max-width;
    }
}