// Colors

$background-color-ergonomics: #F3F3F3;
$header-color-ergonomics: #0B64FE;
$font-color-ergonomics: #181818;
$background-color-voice: #181818;
$font-color-voice: #FFF;
$button-font-color: #000;
$button-color: #A6FFFF;

// Typography

$ff-montserrat: "Montserrat", "Arial", sans-serif;
$ff-ubuntu: "Ubuntu", "Arial", sans-serif;
$ff-bebas: "Bebas Neue", "Arial", sans-serif;

// Viewports

$vp-min-width: 320px; 
$vp-second-point: 800px; 
$vp-third-point: 1200px; 
$vp-max-width: 1920px; 
